<h1>Sign Up</h1>
<%= form_with model: @user, url: users_create_path do |f| %>
  <div class="field">
    <label for="email">Email</label><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <label for="password">Password</label><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <label for="password_confirmation">Password Confirmation</label><br />
    <%= f.text_field :password_confirmation %>
  </div>
  <div class="actions">
    <input type="submit" name="commit" value="Sign Up" data-disable-with="Sign Up" />
  </div>
<% end %>