<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<div>
    <%= form_for @post, url: posts_create_path do |f| %>
        <%= f.text_field :content %>
        <%= f.submit %>
    <% end %>
    <from>
        <textarea></textarea>
        <input type="submit" value="投稿" />
    </from>
</div>

<div>
    <h2>投稿一覧</h2>
    <div id="post-list">
        <% @posts.each do|post| %>
            <p><%= link_to post.content, "/edit" %></p>
        <% end %>
    </div>
</div>

